services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"  # Jaeger UI
      - "4317:4317"    # OTLP gRPC receiver
      - "4318:4318"    # OTLP HTTP receiver
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  aidbox-db:
    image: postgres:17
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: aidbox
    volumes:
      - aidbox_db_data:/var/lib/postgresql/data

  aidbox:
    image: aidbox:fhirchat
    build:
      context: ./aidbox
      dockerfile: Dockerfile
    pull_policy: always
    depends_on:
    - aidbox-db
    ports:
    - 8080:8080
    environment:
      # Required Variables
      AIDBOX_CLIENT_ID: 'fhirchatclient'
      AIDBOX_CLIENT_SECRET: 'fhirchatsecret'
      AIDBOX_LICENSE: ${AIDBOX_LICENSE}
      BOX_ADMIN_PASSWORD: 'password'
      BOX_FHIR_COMPLIANT_MODE: true
      BOX_WEB_PORT: 8080
      # Optional Variables
      AIDBOX_ORGANIZATION_ID: 'fhirchat-dev'
      BASE_AIDBOX_URL: 'http://aidbox:8080'
      BOX_BOOTSTRAP_FHIR_PACKAGES: hl7.fhir.r4.core#4.0.1
      BOX_DB_DATABASE: 'aidbox'
      BOX_DB_HOST: 'aidbox-db'
      BOX_DB_PASSWORD: 'postgres'
      BOX_DB_POOL_IDLE_TIMEOUT: 1000
      BOX_DB_POOL_MAXIMUM_POOL_SIZE: 30
      BOX_DB_POOL_MINIMUM_IDLE: 2
      BOX_DB_USER: 'postgres'
      BOX_FHIR_VALIDATION_SKIP_REFERENCE: true
      BOX_FEATURES_ORGBAC_ENABLE: true
      BOX_FHIR_CORRECT_AIDBOX_FORMAT: true
      BOX_FHIR_CREATEDAT_URL: 'http://fhir.aidbox.app/extension/createdat'
      BOX_FHIR_JSON_SCHEMA_DATETIME_REGEX: '#{:fhir-datetime}'
      BOX_FHIR_SCHEMA_VALIDATION: true
      BOX_FHIR_SEARCH_AUTHORIZE_INLINE_REQUESTS: true
      BOX_FHIR_SEARCH_CHAIN_SUBSELECT: true
      BOX_FHIR_SEARCH_COMPARISONS: true
      BOX_FHIR_SEARCH_DEFAULT_PARAMS_TIMEOUT: 30
      BOX_FHIR_SEARCH_DEFAULT_PARAMS_TOTAL: 'none'
      BOX_FHIR_TERMINOLOGY_SERVICE_BASE_URL: https://tx.health-samurai.io/fhir
      BOX_INIT_BUNDLE: 'file:///tmp/init-bundle.json'
      BOX_METRICS_PORT: 8766
      BOX_MODULE_GRAPHQL_ACCESS_CONTROL: 'rest-search'
      BOX_MODULE_GRAPHQL_WARMUP_ON_STARTUP: true
      BOX_MODULE_MCP_SERVER_ENABLED: true
      BOX_MODULE_PROVIDER_MAILGUN_USERNAME: 'api'
      BOX_OBSERVABILITY_DISABLE_HEALTH_LOGS: true
      BOX_OBSERVABILITY_METRICS_ENABLE_POSTGRES_METRICS: false
      BOX_OBSERVABILITY_STDOUT_LOG_LEVEL: 'error'
      BOX_OBSERVABILITY_STDOUT_PRETTY_LOG_LEVEL: error # off, fatal, error, warn, info, debug, trace, all
      BOX_ROOT_CLIENT_ID: 'fhirchatclient'
      BOX_ROOT_CLIENT_SECRET: 'fhirchatsecret'
      BOX_SEARCH_INCLUDE_CONFORMANT: true
      BOX_SECURITY_AUDIT_LOG_ENABLED: true
      BOX_SECURITY_AUTH_KEYS_SECRET: 'auth-key-secret'
      BOX_SECURITY_AUTH_PKCE_CODE_CHALLENGE_S256_CONFORMANT: true
      BOX_SECURITY_CONTENT_SECURITY_POLICY_HEADER: "default-src 'self'; script-src 'report-sample' 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'report-sample' 'self' 'unsafe-inline'; object-src 'none'; base-uri 'self'; connect-src 'self'; font-src 'self'; frame-src 'self'; frame-ancestors 'self'; img-src 'self'; manifest-src 'self'; media-src 'self'; worker-src 'self';"
      BOX_SECURITY_CORS_ORIGINS: ''
      BOX_SECURITY_DEV_MODE: true
      BOX_SETTINGS_MODE: 'read-write'
    healthcheck:
      test: curl -f http://localhost:8080/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 90
      start_period: 30s

volumes:
  aidbox_db_data:
    driver: local
