AIDBOX_CLIENT_ID=fhirchatclient
AIDBOX_CLIENT_SECRET=fhirchatsecret
AIDBOX_LICENSE=
AIDBOX_TOKEN=ZmhpcmNoYXRjbGllbnQ6ZmhpcmNoYXRzZWNyZXQ=

# GPT 5
FHIR_CHAT_OPENAI_ENDPOINT=
FHIR_CHAT_OPENAI_API_KEY=
FHIR_CHAT_OPENAI_MODEL=gpt-5-mini
FHIR_CHAT_OPENAI_API_VERSION=2024-12-01-preview
